/* Header.css */
header {
    position: relative;
    width: 100%;
    overflow: hidden; /* Hide any overflowing content */
}

.slideshow-container {
    width: 100%;
    height: auto; /* Adjust based on your image height */
    position: relative;
}

.slideshow-image {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block;
}

h1 {
    text-align: center;
    font-size: 100px;
    font-family: Geneva, sans-serif;
    margin: 20px 0; /* Adjust as needed */
    color: #208b21; /* Adjust text color if needed */
}
